body {
  background-color: #474f6b;  
}

.App {
  background-color: #353b51;
  color: white;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  padding: 20px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

